.main-container {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  height: 100vh;
}
.destination-items {
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
  justify-content: center;
}
